<div class="left-sidebar">
    <div class="sidebar-holder">
        <ul class="nav nav-list" ng-init="sidebar = 'overview'; resourcesTab = -1; billingTab=-1;">

            <!-- sidebar to mini Sidebar toggle -->
            <li class="nav-toggle">
                <button class="btn  btn-nav-toggle text-primary">
                    <i class="fa fa-angle-double-left toggle-left"></i>
                </button>
            </li>

            <li ng-class="{ active: sidebar === 'overview' }">
                <a href="#/overview" ng-click="sidebar = 'overview'" data-original-title="Overview"><i class="fa fa-overview"></i><span class="hidden-minibar"> Overview </span></a>
            </li>
            <li ng-class="{ active: sidebar === 'user' }">
                <a href="#/user" ng-click="sidebar = 'user'" data-original-title="User"><i class="fa fa-user"></i><span> User </span></a>
            </li>
            <li ng-class="{ active: sidebar === 'request' }">
                <a href="#/request" ng-click="sidebar = 'request'" data-original-title="Request"><i class="fa fa-bolt"></i><span> Request </span></a>
            </li>

        </ul>
    </div>
</div>