<div class="panel-body">
    <form action class="form-horizontal row-border" ng-init="wizardCtrl.newEmulator = {}">

        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-6">
                <input type="text" ng-model="wizardCtrl.newEmulator.name" ng-init="wizardCtrl.newEmulator.name = 'emulator'" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">System</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="wizardCtrl.newEmulator.system" ng-init="wizardCtrl.newEmulator.system = 'Android'">
                    <option>Android</option>
                    <option>IOS</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Version</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="wizardCtrl.newEmulator.version" ng-init="wizardCtrl.newEmulator.version = '5.0.1 (API21)'">
                    <option ng-if="wizardCtrl.newEmulator.system === 'Android'">5.0.1 (API21)</option>
                    <!--<option ng-if="system === 'Android'">4.0.0</option>-->
                    <option ng-if="wizardCtrl.newEmulator.system === 'IOS'">8.1.3</option>
                    <option ng-if="wizardCtrl.newEmulator.system === 'IOS'">8.1.1</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">CPU</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="wizardCtrl.newEmulator.cpu" ng-init="wizardCtrl.newEmulator.cpu = 'armeabi-v7a'">
                    <option>armeabi-v7a</option>
                    <option>x86</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">RAM</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="wizardCtrl.newEmulator.ram" ng-init="wizardCtrl.newEmulator.ram = '64M'">
                    <option>64M</option>
                    <option>128M</option>
                    <option>256M</option>
                    <option>512M</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" ng-model="wizardCtrl.newEmulator.disk" ng-init="wizardCtrl.newEmulator.disk = '128M'">DISK</label>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>128M</option>
                    <option>256M</option>
                    <option>512M</option>
                    <option>1024M</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" ng-model="wizardCtrl.newEmulator.number">NUMBER</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" ng-model="wizardCtrl.newEmulator.number" ng-init="wizardCtrl.newEmulator.number = 1"/>
            </div>
        </div>
    </form>
</div>
