<div class="panel-body">
    <form action class="form-horizontal row-border" ng-init="wizardCtrl.newHub = {}">

        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-6">
                <input type="text" ng-model="wizardCtrl.newHub.name" ng-init="wizardCtrl.newHub.name = 'hub'" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Netwrok Type</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="wizardCtrl.newHub.network_type" ng-init="wizardCtrl.newHub.network_type = 'WiFi'">
                    <option>WiFi</option>
                    <option>Mobile Carrier Network</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Netwrok Provider</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="wizardCtrl.newHub.network_provider" ng-init="wizardCtrl.newHub.network_provider = 'Comcast XFINITY'">
                    <option ng-if="wizardCtrl.newHub.network_type === 'WiFi'">Comcast XFINITY</option>
                    <option ng-if="wizardCtrl.newHub.network_type === 'WiFi'">AT&T U-verse</option>
                    <option ng-if="wizardCtrl.newHub.network_type === 'Mobile Carrier Network'">AT&T</option>
                    <option ng-if="wizardCtrl.newHub.network_type === 'Mobile Carrier Network'">Verizon</option>
                    <option ng-if="wizardCtrl.newHub.network_type === 'Mobile Carrier Network'">T-Mobile</option>
                    <option ng-if="wizardCtrl.newHub.network_type === 'Mobile Carrier Network'">Sprint</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Ports Number</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="wizardCtrl.newHub.ports_num" ng-init="wizardCtrl.newHub.ports_num = '5'">
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                </select>
            </div>
        </div>
    </form>
</div>