<div class="content">

    <div class="row">
        <div class="col-mod-12">

            <ul class="breadcrumb">
                <li><a href="#/">MTaaS</a></li>
                <li class="active">Billing</li>
            </ul>

            <!--<div class="form-group  hidden-print pull-right">
                <input type="text" class="form-control form-cascade-control nav-input-search" size="20" placeholder="Search through site"/>

                <span class="input-icon fui-search"></span>
            </div>-->

            <h3 class="page-header"><i class="fa fa-credit-card"></i> Billing
                <i class="fa fa-info-circle animated bounceInDown show-info"></i></h3>

            <blockquote class="page-information hidden">
                <p>
                    An Invoice or bill is a commercial document issued by a seller to a buyer, indicating the products, quantities, and agreed prices for products or services the seller has provided the buyer. An invoice indicates the sale transaction only.
                </p>
            </blockquote>
        </div>
    </div>

    <div class="input-group">
        <p>
            Year: <select class="form-group" ng-model="billingCtrl.s_year" ng-options="year for year in billingCtrl.years"></select>
            Month: <select class="form-group" ng-model="billingCtrl.s_month" ng-options="month.id as month.name for month in billingCtrl.months"></select>

            <button class="btn btn-xs btn-primary" style="margin-left: 10px" ng-click="billingCtrl.list()">List</button>

        </p>

    </div>




    <!-- Invoice -->
    <div class="panel panel-cascade panel-invoice">
        <div class="panel-body">

        <!--  <span class="pull-right" style="margin: 10px">
              <a href="#" class=" btn btn-success btn-print text-white hidden-print"><i class="fa fa-print"></i> Print</a>
          </span>-->

            <div class="row">
                <div class="col-md-12">

                    <table class="table table-bordered" ng-init="billingCtrl.charges_expand=false;billingCtrl.payment_expand=false">

                        <thead>
                            <tr class="invoice-total" bgcolor="#f1f1f1">
                                <td><strong>Summary</strong></td>
                                <td colspan="3"><strong>Amount</strong></td>

                            </tr>
                        </thead>


                        <tbody>

                       <tr>
                           <th>
                               <a ng-if="billingCtrl.charges_expand" ng-click="billingCtrl.charges_expand = false">- MTaaS Charges</a>
                               <a ng-if="!billingCtrl.charges_expand" ng-click="billingCtrl.charges_expand = true">+ MTaaS Charges</a>
                           </th>

                           <td colspan="2">
                               {{billingCtrl.bills.bill_sum.amount}}
                           </td>


                       </tr>

                       <tr ng-if="billingCtrl.charges_expand">

                           <td><strong>plan:</strong> {{billingCtrl.bills.bill_sum.plan}}</td>
                           <td><strong>from:</strong>  {{billingCtrl.bills.bill_sum.start_datetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                           <td><strong>to:</strong> {{billingCtrl.bills.bill_sum.end_datetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>



                       </tr>
                       <tr ng-if="billingCtrl.charges_expand&&billingCtrl.bills.bill_sum.id">

                           <td><strong>bill id:</strong> {{billingCtrl.bills.bill_sum.id}}</td>
                           <td colspan="2"><strong>create date:</strong> {{billingCtrl.bills.bill_sum.create_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>


                       </tr>



                       <tr>
                           <th>
                               <a ng-if="billingCtrl.payment_expand" ng-click="billingCtrl.payment_expand = false">- Payment Details</a>
                               <a ng-if="!billingCtrl.payment_expand" ng-click="billingCtrl.payment_expand = true">+ Payment Details</a>
                           </th>

                           <td colspan="2">
                               {{billingCtrl.bills.bill_sum.amount}}
                           </td>


                       </tr>



                       <tr ng-if="billingCtrl.payment_expand">

                           <td><strong>status:</strong> {{billingCtrl.bills.bill_sum.pay_status}}</td>
                         <!-- <td><strong>method:</strong>  {{billingCtrl.bills.bill_sum.pay_method}}</td>
                           <td><strong>account:</strong>  {{billingCtrl.bills.bill_sum.pay_account}}</td>-->


                           <td colspan="2"><strong>pay date:</strong> {{billingCtrl.bills.bill_sum.pay_datetime}}</td>

                       </tr>


                       </tbody>
                    </table>


                    <table class="table table-bordered" ng-init="billingCtrl.charges_expand=false;billingCtrl.payment_expand=false">

                        <thead>
                        <tr class="invoice-total" bgcolor="#f1f1f1">
                            <td><strong>Detail</strong></td>
                          <!--  <td><strong>Total</strong></td>-->
                        </tr>
                        </thead>


                        <tbody>


                       <!-- <tr>
                            <th>
                                <a ng-if="billingCtrl.emulators_expand" ng-click="billingCtrl.emulators_expand = false">- Emulator</a>
                                <a ng-if="!billingCtrl.emulators_expand" ng-click="billingCtrl.emulators_expand = true">+ Emulator</a>
                            </th>

                            <td colspan="3">
                                {{billingCtrl.bills.bill_sum.amount}}
                            </td>


                        </tr>-->


                        <tr  ng-repeat-start="(key,value) in billingCtrl.bills.bill_detail">
                            <th>
                                <a ng-if="billingCtrl.key_expand[$index]" ng-click="billingCtrl.key_expand[$index] = false">- {{key}}</a>
                                <a ng-if="!billingCtrl.key_expand[$index]" ng-click="billingCtrl.key_expand[$index] = true">+ {{key}}</a>
                            </th>




                        </tr>

                        <tr ng-if="billingCtrl.key_expand[$index]" ng-repeat-end="">

                            <td>
                                <table  class="table table-bordered">
                                    <th>Resource Id</th>
                                  <!--  <th>Resource Name</th>-->
                                    <th>Start Billing Time</th>
                                    <th>End Billing Time</th>
                                    <th>Total Billing Time (Hrs)</th>
                                    <th ng-if="billingCtrl.curr_plan=='pay_as_hour_go'">Cost</th>
                                    <tr ng-repeat="bill in value" >


                                        <td>{{bill.resource_id}}</td>
                                       <!-- <td>{{bill.name}}</td>-->
                                        <td>{{bill.start_datetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{bill.end_datetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{bill.running_time}}</td>
                                        <td ng-if="billingCtrl.curr_plan=='pay_as_hour_go'">{{bill.cost}}</td>
                                    </tr>

                                </table>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                  <!--  <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Emulator ID</th>
                            <th>Version</th>
                            <th>CPU</th>
                            <th>RAM</th>
                            <th>Disk</th>
                            <th>Running Time</th>
                            <th>Status</th>
                            <th>Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>123</td>
                            <td>5.0.1 (API 21)</td>
                            <td>ARM</td>
                            <td>64</td>
                            <td>128</td>
                            <td>80 Mins</td>
                            <td>Running</td>
                            <td>$0.101</td>
                        </tr>
                        <tr>
                            <td>123</td>
                            <td>5.0.1 (API 21)</td>
                            <td>ARM</td>
                            <td>128</td>
                            <td>128</td>
                            <td>10 Mins</td>
                            <td>Terminated</td>
                            <td>$0.011</td>
                        </tr>
                        <tr>
                            <td>123</td>
                            <td>5.0.1 (API 21)</td>
                            <td>Intel</td>
                            <td>64</td>
                            <td>256</td>
                            <td>1180 Mins</td>
                            <td>Running</td>
                            <td>$1.101</td>
                        </tr>
                        <tr class="invoice-total" bgcolor="#f1f1f1">
                            <td colspan="7" align="right"><strong>Subtotal</strong></td>
                            <td>$1.213</td>
                        </tr>
                        <tr class="invoice-total" bgcolor="#f1f1f1">
                            <td colspan="7" align="right"><strong>Discount</strong></td>
                            <td>-$0.2</td>
                        </tr>
                        <tr class="invoice-total" bgcolor="#f1f1f1">
                            <td colspan="7" align="right"><strong>Total</strong></td>
                            <td>$1.013</td>
                        </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>
        </div>
    </div>
</div>

