<div class="content">

    <div class="row">
        <div class="col-mod-12">

            <ul class="breadcrumb">
                <li><a href="#/">MTaaS</a></li>
                <li class="active">Dashboard</li>
            </ul>

           <!-- <div class="form-group hiddn-minibar pull-right">
                <input type="text" class="form-control form-cascade-control nav-input-search" size="20" placeholder="Search through site"/>

                <span class="input-icon fui-search"></span>
            </div>-->

            <h3 class="page-header"><i class="fa fa fa-dashboard"></i> Dashboard
                <i class="fa fa-info-circle animated bounceInDown show-info"></i></h3>

            <blockquote class="page-information hidden">
                <p>
                    Dashboard is an "Easy To Read" real-time user interface, showing a graphical presentation of the current status and historical trends of an organization’s key performance indicators to enable instantaneous and informed decisions to be made at a glance.
                </p>
            </blockquote>

        </div>
    </div>

    <!-- Info Boxes -->
    <div class="row">
        <div class="col-md-3">
            <div class="info-box bg-primary text-white">
                <div class="info-icon bg-primary-dark">
                    <i class="fa fa-mobile fa-4x"></i>
                </div>
                <div class="info-details">
                    <h4>Emulators <span class="pull-right">{{ dashboardCtrl.emulators_num }}</span></h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box bg-info text-white">
                <div class="info-icon bg-info-dark">
                    <i class="fa fa-tablet fa-4x"></i>
                </div>
                <div class="info-details">
                    <h4>Devices <span class="pull-right">{{ dashboardCtrl.devices_num }}</span></h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box bg-success text-white">
                <div class="info-icon bg-success-dark">
                    <i class="fa router-customized fa-4x"></i>
                </div>
                <div class="info-details">
                    <h4>Hubs <span class="pull-right">{{ dashboardCtrl.hubs_num }}</span></h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box bg-warning text-white">
                <div class="info-icon bg-warning-dark">
                    <i class="fa fa-dollar fa-4x"></i>
                </div>
                <a href="#/bills" ng-click="sidebar = 'Bills'">
                    <div class="info-details">
                        <h4>Bills<span class="pull-right">{{ dashboardCtrl.bills.bill_sum.amount }}</span></h4>
                        <p>This Month
                            <span class="badge pull-right bg-white text-warning">{{ dashboardCtrl.bills.bill_sum.amount }}<i class="fa fa-arrow-up fa-1x"></i> </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Quick Start -->
    <div class="row" ng-if="dashboardCtrl.showWhich === 'quick_start'">
        <div class="col-md-12">
            <div class="panel panel-cascade">
                <div class="panel-heading">
                    <h3 class="panel-title">Quick Start</h3>
                </div>
                <div class="panel-body">
                    <div class="price-list row">

                        <div class="price-box col-md-3 col-sm-6 col-xs-12 col-lg-3">
                            <div class="price-header bg-primary">
                                <h3>Emulator Plan A</h3>
                            </div>
                            <ul class="list-group features">
                              <!--  <li class="list-group-item"><strong>$5</strong> Per Month</li>-->
                                <li class="list-group-item">1 Hub</li>
                                <li class="list-group-item">5 <strong>Emulators</strong></li>
                                <li class="list-group-item">SSH Access</li>
                                <li class="list-group-item">Screen Access</li>
                                <li class="list-group-item select">
                                    <a class="btn btn-block bg-primary text-white btn-lg ">Choose</a>
                                </li>
                            </ul>
                        </div>
                        <div class="price-box col-md-3 col-sm-6 col-xs-12 col-lg-3">
                            <div class="price-header bg-info">
                                <h3>Emulator Plan B</h3>
                            </div>
                            <ul class="list-group features">
                             <!--   <li class="list-group-item"><strong>$10</strong> Per Month</li>-->
                                <li class="list-group-item">2 Hub</li>
                                <li class="list-group-item">15 <strong>Emulators</strong></li>
                                <li class="list-group-item">SSH Access</li>
                                <li class="list-group-item">Screen Access</li>
                                <li class="list-group-item select">
                                    <a class="btn btn-block bg-primary text-white btn-lg ">Choose</a>
                                </li>
                            </ul>
                        </div>

                        <div class="price-box col-md-3 col-sm-6 col-xs-12 col-lg-3">
                            <div class="price-header bg-success">
                                <h3>Device Plan A</h3>
                            </div>
                            <ul class="list-group features">
                              <!--  <li class="list-group-item"><strong>$15</strong> Per Month</li>-->
                                <li class="list-group-item">1 Hub</li>
                                <li class="list-group-item">5 <strong>Devices</strong></li>
                                <li class="list-group-item">SSH Access</li>
                                <li class="list-group-item">Screen Access</li>
                                <li class="list-group-item select">
                                    <a class="btn btn-block bg-primary text-white btn-lg ">Choose</a>
                                </li>
                            </ul>
                        </div>

                        <div class="price-box col-md-3 col-sm-6 col-xs-12 col-lg-3">
                            <div class="price-header bg-warning">
                                <h3>Device Plan B</h3>
                            </div>
                            <ul class="list-group features">
                               <!-- <li class="list-group-item"><strong>$20</strong> Per Month</li>-->
                                <li class="list-group-item">2 Hub</li>
                                <li class="list-group-item">15 <strong>Devices</strong></li>
                                <li class="list-group-item">SSH Access</li>
                                <li class="list-group-item">Screen Access</li>
                                <li class="list-group-item select">
                                    <a class="btn btn-block bg-primary text-white btn-lg ">Choose</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Topology Graph -->
    <div class="row" ng-show="dashboardCtrl.showWhich === 'topology'">
        <div class="col-md-12">
            <div class="panel panel-cascade">
                <div class="panel-heading">
                    <h3 class="panel-title">Topology Graph</h3>
                </div>
                <div class="panel-body">
                    <div id="mynetwork" class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <!--© 2013 <a href="http://bootstrapguru.com">Bootstrap Guru</a>-->
    </div>

</div>