<div class="content">

    <div class="row">
        <div class="col-mod-12">

            <ul class="breadcrumb">
                <li><a href="#/">MTaaS</a></li>
                <li class="active">Devices</li>
            </ul>

            <!--<div class="form-group hiddn-minibar pull-right">
                <input type="text" class="form-control form-cascade-control nav-input-search" size="20" placeholder="Search through site"/>

                <span class="input-icon fui-search"></span>
            </div>-->

            <h3 class="page-header"><i class="fa fa-mobile"></i> Device
                <i class="fa fa-info-circle animated bounceInDown show-info"></i></h3>

            <blockquote class="page-information hidden">
                <p>
                    Devices information.
                </p>
            </blockquote>
        </div>
    </div>
    <!--<link href="device.css" rel="stylesheet">-->
    <div class="profile-tabs">

        <ul id="myTab" class="nav nav-tabs" ng-init="deviceTab = 'devices'">
            <li ng-class="{ active: deviceTab === 'devices' }" ng-click="devicesCtrl.getAll()">
                <a href data-toggle="tab" ng-click="deviceTab = 'devices'">Devices</a>
            </li>
            <li ng-class="{ active: deviceTab === 'launch' }">
                <a href data-toggle="tab" ng-click="devicesCtrl.getAvailDevices();deviceTab = 'launch'">Launch</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">

            <div ng-class="{ active: deviceTab === 'devices' }" class="tab-pane fade in" id="devices" ng-show="deviceTab === 'devices'">
                <div class="col-md-12">
                    <div class="panel ">
                        <div class="panel-body ">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <!--<th>ID</th>-->
                                    <th>Name</th>
                                    <th>Model</th>
                                    <th>SSH</th>
                                    <th>Hub</th>
                                    <th>Create Time</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="device in devicesCtrl.devices">
                                    <!--<td>{{ device.id }}</td>-->
                                    <td>{{ device.name }}</td>
                                    <td>{{ device.model }}</td>
                                    <td>{{ device.ip + ":" + device.ssh_port }}</td>
                                    <td>
                                        <select class="form-control" ng-model="devicesCtrl.hub[$index]" ng-options="hub.id as hub.name for hub in devicesCtrl.hubs" ng-change="devicesCtrl.attachToHub(device, devicesCtrl.hub[$index])">
                                            <option></option>
                                        </select>
                                    </td>
                                    <td>{{ device.create_datetime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                    <td>{{ device.status }}</td>
                                    <td>
                                        <button type="button" class="btn btn-info" ng-click="devicesCtrl.view(device)"><i class="fa fa-fw fa-eye"></i></button>
                                        <button type="button" class="btn btn-danger" ng-click="devicesCtrl.delete(device)"><i class="fa fa-fw fa-trash-o"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-class="{ active: deviceTab === 'launch' }" class="tab-pane fade in" id="launch" ng-show="deviceTab === 'launch'">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body" ng-init="newDevice = {}">
                            <form action class="form-horizontal row-border col-md-6"  style="margin-top: 25px">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        <input type="text" ng-model="newDevice.name" ng-init="newDevice.name = 'device'" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Brand</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="newDevice.brand" ng-options="avail_device.brand for avail_device in devicesCtrl.avail_devices "></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Model</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="newDevice.imei" ng-options="avail_device.imei as avail_device.model for avail_device in devicesCtrl.avail_devices | filter:newDevice.brand"></select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="button" class="btn btn-success" ng-click="devicesCtrl.create(newDevice); deviceTab = 'devices'; devicesCtrl.getAll();">Submit</button>
                                        <button type="button" class="btn btn-danger" ng-click="newDevice = null">Cancel</button>
                                    </div>
                                </div>

                            </form>

                            <div class="col-md-6" ng-show="newDevice.brand && newDevice.imei">
                                <img src="img/temp/samsung_s2.jpg" class="col-md-4 col-md-offset-1">
                                <ul class="col-md-6 col-md-offset-1" style="margin-top: 25px">
                                    <li>OS: Android 4.1.2</li>
                                    <li>Physical size: 4.3 inches</li>
                                    <li>Resolution: 480 x 800 pixels</li>
                                    <li>Pixel density: 218 ppi</li>
                                    <li>CPU: Samsung Exynos 4210</li>
                                    <li>RAM: 1024MB</li>
                                    <li>Internal Storage: 32GB</li>
                                    <li>SD Card: 4GB</li>
                                </ul>
                            </div>
                        </div>
                        <!-- /panel body -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>