<div class="content">

    <div class="row">
        <div class="col-mod-12">

            <ul class="breadcrumb">
                <li><a href="#/">MTaaS</a></li>
                <li class="active">Emulators</li>
            </ul>

           <!-- <div class="form-group hiddn-minibar pull-right">
                <input type="text" class="form-control form-cascade-control nav-input-search" size="20" placeholder="Search through site"/>

                <span class="input-icon fui-search"></span>
            </div>-->

            <h3 class="page-header"><i class="fa fa-mobile"></i> Emulator
                <i class="fa fa-info-circle animated bounceInDown show-info"></i></h3>

            <blockquote class="page-information hidden">
                <p>
                    Emulators information.
                </p>
            </blockquote>
        </div>
    </div>
    <!--<link href="emulator.css" rel="stylesheet">-->
    <div class="profile-tabs">

        <ul id="myTab" class="nav nav-tabs" ng-init="emulatorTab = 'emulators'">
            <li ng-class="{ active: emulatorTab === 'emulators' }" ng-click="emulatorsCtrl.getAll()"><a href data-toggle="tab" ng-click="emulatorTab = 'emulators'">Emulators</a></li>
            <li ng-class="{ active: emulatorTab === 'launch' }"><a href data-toggle="tab" ng-click="emulatorTab = 'launch'">Launch</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">

            <div ng-class="{ active: emulatorTab === 'emulators' }" class="tab-pane fade in" id="emulators" ng-show="emulatorTab === 'emulators'">
                <div class="col-md-12">
                    <div class="panel ">
                        <div class="panel-body ">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <!--<th>ID</th>-->
                                    <th>Name</th>
                                    <!--<th>Create Time</th>-->
                                    <th>System</th>
                                    <th>Version</th>
                                    <th>CPU</th>
                                    <th>RAM</th>
                                    <th>Disk</th>
                                    <th>SSH</th>
                                    <th>Hub</th>
                                    <th>Status</th>
                                    <th> </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="emulator in emulatorsCtrl.emulators">
                                    <!--<td>{{ emulator.id }}</td>-->
                                    <td>{{ emulator.name }}</td>
                                    <!--<td>{{ emulator.create_datetime | date:'yyyy-MM-dd HH:mm:ss' }}</td>-->
                                    <td>{{ emulator.system }}</td>
                                    <td>{{ emulator.version }}</td>
                                    <td>{{ emulator.cpu }}</td>
                                    <td>{{ emulator.ram }}</td>
                                    <td>{{ emulator.disk }}</td>
                                    <td>{{ emulator.ip + ":" + emulator.ssh_port }}</td>
                                    <td>
                                        <select class="form-control" ng-init="" ng-model="emulatorsCtrl.hub[$index]" ng-options="hub.id as hub.name for hub in emulatorsCtrl.hubs"  ng-change="emulatorsCtrl.attachToHub(emulator, emulatorsCtrl.hub[$index])" >
                                            <option></option>
                                        </select>
                                    </td>
                                    <!--<td>{{ emulator.status }}</td>-->
                                    <td>
                                        <div ng-show="emulator.status === 'running'">{{ emulator.status }}</div>
                                        <div class="progress progress-striped active" ng-show="emulator.status === 'processing'">
                                            <div class="progress-bar three-sec-ease-in-out" aria-valuetransitiongoal="100" aria-valuenow="100" style="width: 100%;"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" ng-disabled="emulator.status === 'processing'" ng-click="emulatorsCtrl.view(emulator)"><i class="fa fa-fw fa-eye"></i></button>
                                        <button type="button" class="btn btn-danger" ng-click="emulatorsCtrl.delete(emulator)"><i class="fa fa-fw fa-trash-o"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-class="{ active: emulatorTab === 'launch' }" class="tab-pane fade in" id="launch" ng-show="emulatorTab === 'launch'">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body" ng-init="newEmulator = {}">
                            <form action class="form-horizontal row-border col-md-6" style="margin-top: 25px">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        <input type="text" ng-model="newEmulator.name" ng-init="newEmulator.name = 'emulator'" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">System</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="newEmulator.system" ng-init="newEmulator.system = 'Android'">
                                            <option>Android</option>
                                            <!--<option>IOS</option>-->
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Version</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="newEmulator.version" ng-init="newEmulator.version = '2.3.3 (API10)'">
                                            <option ng-if="newEmulator.system === 'Android'">2.3.3 (API10)</option>
                                            <!--<option ng-if="system === 'Android'">4.0.0</option>-->
                                            <option ng-if="newEmulator.system === 'IOS'">8.1.3</option>
                                            <option ng-if="newEmulator.system === 'IOS'">8.1.1</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Device</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="newEmulator.device" ng-options="device.name for device in emulatorsCtrl.devices" ng-init="newEmulator.device = emulatorsCtrl.devices[0]"></select>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="newEmulator.Device === 'Customize'">
                                    <label class="col-md-3 control-label">CPU</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="newEmulator.cpu" ng-init="newEmulator.cpu = 'armeabi-v7a'">
                                            <option>armeabi-v7a</option>
                                            <option>x86</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="newEmulator.Device === 'Customize'">
                                    <label class="col-md-3 control-label">RAM(M)</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="newEmulator.ram" ng-init="newEmulator.ram = '64'">
                                            <option>64</option>
                                            <option>128</option>
                                            <option>256</option>
                                            <option>512</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="newEmulator.Device === 'Customize'">
                                    <label class="col-md-3 control-label" ng-model="newEmulator.disk" ng-init="newEmulator.disk = '128'">Disk(M)</label>
                                    <div class="col-md-9">
                                        <select class="form-control">
                                            <option>128</option>
                                            <option>256</option>
                                            <option>512</option>
                                            <option>1024</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="false">
                                    <label class="col-md-3 control-label" ng-model="newEmulator.number">Number</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" ng-model="newEmulator.number" ng-init="newEmulator.number = 1" max="5"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="button" class="btn btn-success" ng-click="emulatorsCtrl.create(newEmulator); emulatorTab = 'emulators';">Submit</button>
                                        <button type="button" class="btn btn-danger" ng-click="newEmulator = null">Cancel</button>
                                    </div>
                                </div>
                            </form>

                            <div class="col-md-6">
                                <img src="img/temp/device.jpg" width="202" class="col-md-6">
                                <ul class="col-md-6" style="margin-top: 25px">
                                    <li>RAM: 1536MB</li>
                                    <li>Internal Storage: 200MB</li>
                                    <li>SD Card: 100MB</li>
                                </ul>
                            </div>
                        </div>
                        <!-- /panel body -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>