<div class="content">

    <div class="row">
        <div class="col-mod-12">

            <ul class="breadcrumb">
                <li><a href="#/">MTaaS</a></li>
                <li class="active">Payment</li>
            </ul>

            <!--<div class="form-group  hidden-print pull-right">
                <input type="text" class="form-control form-cascade-control nav-input-search" size="20" placeholder="Search through site"/>

                <span class="input-icon fui-search"></span>
            </div>-->

            <h3 class="page-header"><i class="fa fa-credit-card"></i> Payments
                <i class="fa fa-info-circle animated bounceInDown show-info"></i></h3>

            <blockquote class="page-information hidden">
                <p>
                    An Invoice or bill is a commercial document issued by a seller to a buyer, indicating the products, quantities, and agreed prices for products or services the seller has provided the buyer. An invoice indicates the sale transaction only.
                </p>
            </blockquote>
        </div>
    </div>



    <!-- Invoice -->
    <div class="panel panel-cascade panel-invoice">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">

                    <table class="table table-bordered">

                        <thead>
                        <tr>
                            <!--<th>ID</th>-->
                            <th>Bill ID</th>
                            <th>Bill Plan</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Amount</th>
                            <th>Create Date</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="payment in paymentCtrl.payments">
                            <!--<td>{{ emulator.id }}</td>-->
                            <td>{{ payment.id }}</td>
                            <td>{{ payment.plan }}</td>
                            <td>{{ payment.start_datetime }}</td>
                            <td>{{ payment.end_datetime }}</td>
                            <td>{{ payment.amount }}</td>
                            <td>{{ payment.create_date }}</td>
                            <td>
                                <button type="button" class="btn btn-info" ng-click="paymentCtrl.pay(payment.id,$index)">Pay</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

